body{
	display: flex;
flex-direction: column;
width: 100%;
height: 100%;
margin: 0 auto;

}
#header{
	display: flex;
flex-direction:row;
justify-content: center;
text-align: center;
background-color: grey;

}
#header>p{
margin: 10px;
}